@font-face {
    font-family: 'Mistral';
    src: url('../font/Mistral.woff2') format('woff2'),
        url('../font/Mistral.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Bold.woff2') format('woff2'),
        url('../font/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-BlackItalic.woff2') format('woff2'),
        url('../font/Nunito-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Black.woff2') format('woff2'),
        url('../font/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Nunito-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-ExtraBold.woff2') format('woff2'),
        url('../font/Nunito-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Light.woff2') format('woff2'),
        url('../font/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-ExtraLight.woff2') format('woff2'),
        url('../font/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-LightItalic.woff2') format('woff2'),
        url('../font/Nunito-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-BoldItalic.woff2') format('woff2'),
        url('../font/Nunito-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Regular.woff2') format('woff2'),
        url('../font/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Italic.woff2') format('woff2'),
        url('../font/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Nunito-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-SemiBold.woff2') format('woff2'),
        url('../font/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modak';
    src: url('../font/Modak.woff2') format('woff2'),
        url('../font/Modak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gill Sans';
    src: url('../font/GillSans-Heavy.woff2') format('woff2'),
        url('../font/GillSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
